<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Accounts</servlet-name>
        <servlet-class>com.jjtree.servelet.Accounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Articles</servlet-name>
        <servlet-class>com.jjtree.servelet.Articles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paragraphs</servlet-name>
        <servlet-class>com.jjtree.servelet.Paragraphs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.jjtree.servelet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accounts</servlet-name>
        <url-pattern>/accounts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Articles</servlet-name>
        <url-pattern>/articles/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paragraphs</servlet-name>
        <url-pattern>/paragraphs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
